@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&display=swap');
body{
    margin: 0;
    background-color: #f16522;
    font-family: Montserrat;
    scroll-behavior: smooth;
}
.error{
    background-color: white;
}
.error-1{
    background-color: #f16522;
    height: 14px;
}
.error-3{
  background-color: #f16522;
  height: 70px;
  width: 100%;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e29d08;
    color: black;
    font-weight: bolder;
    font-weight: 600;
    font-size: 20px;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: WHITE;
    color:#f16522 ;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .head-col{
    background-color: white;
    border: none;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    
  }
  .head-1{
    background-color: white;
    border: none;
    width: 50%;
    height: 300px;
  }
  .head-2{
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color:rgb(0, 0, 0);
    border: none;
    width: 45%;
    height: 300px;
  }
  #logo-img{
    text-align: center;
    width:60%;
  }
   #btn-know{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
   }
   #btn-call{
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f16522;
    color: white;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
   }
   #btn34{
    color: white;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
   }
   #btn-whats{
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f16522;
    color: white;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
   }
.headcol-1{
    background-color: white;
    
    width: 100%;
}
.headcol-1 h2{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: #f16522;
   
}
.headcol-2{
    height: 200px;
    background-color: #f16522;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}
.headcol-2-child{
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 10px 10px;
}
#headcol-2-btn{
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    background-color: #f16522;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}
.headcol-3{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f16522;
    height: auto;
}
.headcol-4{
    background-color: white;
    width: 100%;
    height: auto;
}
.headcol-4 h1{
    padding-left: 60px;
    font-size: 50px;
}
.headcol-4 h2{
    padding-left: 20px;
        font-size: 50px;
        color: #f16522;
}
 .headcol-4child{
    display: flex;
 }   
 .headcol-5{
  background-color: white;
 }   
 #contact-book-head{
  font-size: 43px;
  text-align: center;
  color: #f16522;
  letter-spacing: 5px;
 }    
 .headcol-5{
  flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

 }
 #headcol-5-child-image{
  width: 80%;
 }
 .headcol-5-child-1{
  border-radius: 1px solid black;
  width: 45%;
  background-color:white;
  height: auto;

 }
 .headcol-5-child{
  border-radius: 1px solid black;
  width: 50%;
  background-color:white;
  height: auto;
 }
 .headcol-6{
  gap: 10px;
  display:flex;
  width: 100%;
  height:auto;
  background-color: white;
 }
 .headcol-6-child-1{
  color:#f16522;
text-align: center;
  width: 49%;
  height: auto;
  background-color: white;

 }
 .headcol-6-child{
  text-align: center;
  color:#f16522;
  width: 49%;
  height: auto;
  background-color: white;

 }
 .day1{
  display: none;
 }
 .trip-box{
  border-radius: 10px 10px 10px 10px;
  color: white;
  background-color: #f16522;
  border: 1px solid rgb(200, 187, 10);
  width: 100%;
  height: 350px;
  overflow: auto;
 }
 #headcol-image{
  width:60%;
 }
 .display-none-1{
  display: none;
 }
 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
.feedback{
  gap: 20px;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #f16522;
}
.feedback h2{
  text-align: center;
}
#logo-img-1{
  width: 300px;
  height: 300px;
}
.feedback-1{
  color: white;
  background-color: transparent;
  width: 48%;
  height: auto;
}
.feedback-2{
  background-color: transparent;
  width: 48%;
  height: auto;
}
.footer{
  margin-top: 30px;
  display: flex;
}
.child-1{
  color: white;
  text-align: center;
  width: 32%;
  height: auto;
  background-color: transparent;
}
.child-2 {
  text-align: center;
  color: white;
  text-align: center;
  width: 30%;
  height: auto;
  background-color: transparent;
}
a{
  color: white;
}
.child-3{
  color: white;
  text-align: center;
  width: 40%;
  height: auto;
  background-color: transparent;
}
.footer-1{
  text-align: center;
}
.ad-col{
  width: 100%;
  height: 200px;
  background-color: #ec0937;
}

   @media screen and (max-width: 1000px) {
    #logo-img{
        text-align: center;
        width:50%;
      }
    .head-col{
        background-color: white;
        border: none;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 9px;
        
      }
      .head-1{
        background-color: white;
        border: none;
        width: 100%;
        height: auto;
      }
      .head-2{
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 10px 10px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        color:rgb(0, 0, 0);
        border: none;
        width: 100%;
        height: 250px;
      }
      .headcol-2{
        height: auto;
        background-color: #f16522;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .headcol-1 h2{
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        color: #f16522;
       
    }
    .headcol-3{
        justify-content: center;
        align-items: center;
        justify-content: center;
        background-color: #f16522;
        height: auto;
    }
    .headcol-4 h1{
     font-size: 30px;
    }
    .headcol-4 h2{
       font-size: 50px;
        color: #f16522;
    }
     .headcol-4child{
        display: flex;
     }  
     .headcol-5{
     width: 100%;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 9px;
    
     }
     .headcol-5-child-1{
      border-radius: 1px solid black;
      width: 100%;
      background-color: white;
      height: auto;
    
     }
     .headcol-5-child{
      border-radius: 1px solid black;
      width: 100%;
      background-color:white;
      height: auto;
     }
     #contact-book-head{
      font-size: 23px;
      text-align: center;
      color: #f16522;
      letter-spacing: 5px;
     }  
     .headcol-5-child-1 h4{
      font-size: 10px;
     }
     .headcol-6{
      gap: 10px;
      display:block;
      width: 100%;
      height:auto;
      background-color: white;
     }
     .headcol-6-child-1{
      color:#f16522;
    text-align: center;
      width: 100%;
      height: auto;
      background-color: white;
    
     }
     .headcol-6-child{
      text-align: center;
      color:#f16522;
      width: 100%;
      height: auto;
      background-color: white;
    
     }
     #headcol-image{
      width:60%;
     }
     .headcol-6{
      gap: 10px;
      display:block;
      width: 100%;
      height:auto;
      background-color: white;
     }
     .headcol-6-du{
      gap: 10px;
      display:block;
      width: 100%;
      height:auto;
      background-color: white;

     }
     .display-none-1{
      display: block;
     }
     .display-none{
      display: none;
     }
     .feedback{
      gap: 20px;
      display: block;
      width: 100%;
      height: 200px;
      background-color: #f16522;
    }
    .feedback-1{
      color: white;
      background-color: transparent;
      width: 100%;
      height: auto;
    }
    .feedback-2{
      text-align: center;
      background-color: transparent;
      width: 80%;
      height: auto;
    }
    .footer{
     
      display: block;
    }
    .child-1 h2{
     
      margin-top: 20px;
      color: white;
      text-align: center;
      width: 100%;
      height: auto;
      background-color: transparent;
    }
    .child-2 a{
      color: white;
      text-align: center;
      width: 100%;
      height: auto;
      background-color: transparent;
    }
    .child-3{
      color: white;
      text-align: center;
      width: 100%;
      height: auto;
      background-color: transparent;
    }
   }



   @media screen and (max-width: 500px) {
    .headcol-4 h1{
        font-size: 20px;
       }
       .headcol-4 h2{
          font-size: 30px;
           color: #f16522;
       }
        .headcol-4child{
           display: flex;
        } 
   }
  
  
  